html,body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  background-image: url(https://raw.githubusercontent.com/bmccaw/Bootstrap-Portfolio/master/Assets/Images/skulls.png);
  background-attachment: fixed;
  font-family: Arial, Helvetica, sans-serif;
  color:#777777;
}
h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}
h2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}
h3,h4 {
  font-family:Georgia, 'Times New Roman', Times, serif;
}
.content {
    flex: 1 0 auto;
  }
.content-box {
    background-color: #ffffff;
  }
.footer {
    flex-shrink: 0;
    background: #666666;
    margin: 0px;
    padding: 5px;
    color: #777777;
  }
.copyright {
    text-align: center;
    padding-top:5px;
  }
.navbar-brand {
    padding:0px;
  }
.profile {
  height:400px;
  width:300px;
}
@media (max-width: 640px) {
  h1{font-size:100%;}
}
@media (max-width:768px) {
  h3{font-size:100%;}
}
